---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Interés compuesto</title>
		<style is:inline>
			* {
				color: #333;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			}
			.form {
				max-width: 800px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 1rem;
			}

			.form .input {
				display: flex;
				align-items: center;
				justify-content: end;
				gap: 4px;
			}

			.form button {
				grid-column-start: -3;
				grid-column-end: -1;
				margin-inline:  auto;

				width: 200px;
				height: 40px;
				font-size: 16px;
			}

			.hidden {
				display: none;
			}

			.mes-12 {
				font-weight: 700;
				background-color: yellow;
			}

			table {
				border-collapse: collapse;
				margin-top: 1rem;
				width: 400px;

				tr th {
					text-align: right;
					padding: .5rem;
					background-color:  #D9D2E9;
					border: 1px solid #333;
				}

				tr {
					position: relative;
				}

				tr td {
					text-align: right;
					padding: .5rem;
					border:  1px solid #333;
				}
			}

			body {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background-color: #f0f0f0;
			}

			button {
				background-color: #D9D2E9;
				border: 0;
				cursor: pointer;

				&:hover {
					background-color: #ddd4f5;
				}

				&:active {
					background-color: #e6defa;
				}
			}

			.floating {
				position: absolute;
				left: -70px;
				top: 0;
			}
		</style>
		<script type="module">
			const $ = id => document.querySelector(id);
			const fmt = new Intl.NumberFormat('es-CO', { currency: 'COP', style: 'currency' });
			const tableBody = $("#table-body");
			const table = $(".table");
			const identificador = $("#identificador");

			document.addEventListener("DOMContentLoaded", () => {
				$("#form-calculo").addEventListener("submit", 
				/**
				 * @param {SubmitEvent} evt
				 */
				(evt) => {
					evt.preventDefault();
					
					const data = new FormData(evt.target);
					const capital = Number(data.get("capital"));
					const ingresoMensual = Number(data.get("ingreso-mensual"));
					const interes = Number(data.get("interes"));
					const plazo = Number(data.get("plazo"));
					const vista = data.get("vista");

					const interesMensual = Math.pow(1 + (interes/100), 1/12) - 1;
					let acumulado = capital

					let contadorAnios = 1

					if(vista === "Anual"){
						identificador.innerText = "Año";
					} else if (vista === "Mensual"){
						identificador.innerText = "Mes";
					}

					tableBody.innerHTML = ''
					
					for (let i = 0; i < plazo*12; i+=1) {
						const totalMes = acumulado + ingresoMensual
						const ahorro = (totalMes * interesMensual) + totalMes

						acumulado = ahorro
						if(vista === "Anual"){
							if((i%12)+1 == 12){
								tableBody.innerHTML += `<tr><td>${contadorAnios}</td><td>${fmt.format(Math.round(ahorro))}</td></tr>`
								contadorAnios += 1
							}
						} else if (vista === "Mensual"){
							if((i%12)+1 == 12){
								tableBody.innerHTML += `<tr class='mes-${(i%12)+1}' ><td> <span class="floating">Año ${contadorAnios}</span> ${(i%12)+1}</td><td>${fmt.format(Math.round(ahorro))}</td></tr>`
								contadorAnios += 1
							} else {
								tableBody.innerHTML += `<tr class='mes-${(i%12)+1}' ><td>${(i%12)+1}</td><td>${fmt.format(Math.round(ahorro))}</td></tr>`
							}
						}
					}

					table.classList.remove("hidden");

				});
			})
		</script>
	</head>
	<body>
		<h1>Calculo de Interés compuesto</h1>
		<form  class="form" action="" id="form-calculo">
			<div class="input">
				<label for="capital">Capital inicial:</label>
				<input type="number" id="capital" name="capital" required oninvalid="this.setCustomValidity('Ingresa el capital inicial')" oninput="this.setCustomValidity('')">
			</div>
			<div class="input">
				<label for="ingreso-mensual">Ingreso mensual:</label>
				<input type="number" id="ingreso-mensual" name="ingreso-mensual" required oninvalid="this.setCustomValidity('Ingresa el ingreso mensual')" oninput="this.setCustomValidity('')">
			</div>
			<div class="input">
				<label for="interes">Interés anual (%):</label>
				<input type="number" id="interes" name="interes" required oninvalid="this.setCustomValidity('Ingresa el interés')" oninput="this.setCustomValidity('')">
			</div>
			<div class="input">
				<label for="plazo">Plazo (años):</label>
				<input type="number" id="plazo" name="plazo" required oninvalid="this.setCustomValidity('Ingresa el plazo en años')" oninput="this.setCustomValidity('')">
			</div>
			<div class="input">
				<label for="vista">Visualización:</label>
				<select name="vista" id="vista"  required>
					<option>Anual</option>
					<option>Mensual</option>
				</select>
			</div>
			<button id="btn-calcular" type="submit">Calcular</button>
		</form>
		<table class="table hidden">
			<thead>
				<tr>
					<th id="identificador">Año</th>
					<th>Ahorro Neto</th>
				</tr>
			</thead>
			<tbody id="table-body">

			</tbody>
		</table>
	</body>
</html>
